{% extends 'main.html' %}
{% block title %}
{{ category.title }}
{% endblock %}
{% block first_content %}
    {% include 'banner2.html' %}
{% endblock %}
{% block second_content %}

<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            {{ cat }}

            </h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9">
					<div class="wrapper">
						<!-- first section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<div class="row">
                                {% for product in products %}
									<div class="col-md-4 product-men">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="{{ product.product_images.first.image.url }}" alt="{{ product }} image" width="200" height="250" >
											<div class="men-cart-pro">												<div class="inner-men-cart-pro">
													<a href="{% url 'product details' product.id %}" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="{% url 'product details' product.id %}">{{ product }}</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">&#x20A6;{{ product.price }}</span>

											</div>

										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												<input   type="submit" value="Add to cart" data-product={{ product.id }} data-action="add" class="update-cart button btn"/>

											</div>

										</div>
									</div>
								</div>
                                {% endfor %}

                            </div></div></div></div></div></div></div>
{% endblock %}